/**
 * Redaxo4Embedded -- a Nextcloud App for embedding Redaxo4.
 *
 * @author Claus-Justus Heine <himself@claus-justus-heine.de>
 * @copyright Claus-Justus Heine 2020, 2021
 *
 * Redaxo4Embedded is free software: you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Redaxo4Embedded is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with Redaxo4Embedded.  If not, see
 * <http://www.gnu.org/licenses/>.
 */

#redaxo4embeddedFrameWrapper {
  height: 100%;
  display: none;
  overflow: hidden;
}

#redaxo4embedded_container {
  position: fixed;
  width: 100%;
  height: 100%;
}

#redaxo4embeddedFrame{
  width: 100%;
  height: 100%;
}

#redaxo4embeddedLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 14px;
  margin-top: -7px; /* Half the height */
  margin-left: -64px; /* Half the width */
}
